{% extends 'base.html' %}

{% block title %}My Favorites{% endblock %}

{% block content %}
    {% if favorites %}
    <ul>
        <img src={{img}}>
        {% for plant_name,instructions in favorites.items() %}
            <h1>{{plant_name}}</h1>
            {% for care,value in instructions.items() %}
                <h2>{{care}}</h2>
                <p>{{value}}</p>
            {% endfor %}
        {% endfor %}
    </ul>
    {% else %}
        <p>Hmmmm this is a little empty right now. Add some favorites!</p>
        <a href='/'>Back to Home</a>
        <a href='/plants'>All Plants</a>
    {% endif %}
{% endblock %}