body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    flex:1%;
    text-align: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    justify-content:space-around;
    padding-top: 10px;
    align-items: center;
    min-height: 6vh;
    display: flex;
    width: 100%;
    color: #224229;
    font-size: 3vh;
    background-color:white;
}

.bg-image {
    background: url('./../images/pexels-ksenia-chernaya-3952031.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}

input::placeholder{
    text-align: center;
}


.background {
    background: url('./../images/pexels-ksenia-chernaya-3952031.jpg');
    position:relative;
    background-size: cover;
}

.nav-contents {
    margin:auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none !important;
    color: #224229 !important;
}

a:active {
    color: #067d46 !important;
}


.pageContents {
    display: block;
    margin: auto;
}


.plant-card {
    display: inline-block;
    justify-content:space-evenly;
    margin: 10px 10px 10px 10px;
    width: 300px;   
}

.body-text {
    color:white;
    font-size: 19px;
}

.homepage-contents{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.all-plants {
    color:white;
    padding-top: 17px;
    background-color: #f6cfb2;
}

input {
    border-radius: 7px;
}

.login {
    height: 100vh;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.varietal-card{
    color:darkgreen !important;
    font-size: medium;
    text-align: left;
    line-height: 2.0;
}

.btn.btn-primary{
    background-color:#224229;
    margin-top: 20px;
    border-color: green;
}

.btn.btn-primary:hover{
    background-color:green;
    margin-top: 20px;
    border-color: green;
}

.form-elements {
    display: grid;
    align-content: center;
    justify-content: center;
}

.varietal{
    display: flex;
    flex-direction: column;
}   

.accordion-button:not(.collapsed) {
    background-color: #224229 !important;
    color: ghostwhite !important;
    
}
.accordion-body{
    background-color: #f7e7da
}
.title{
    text-transform:capitalize;
    color: #224229;
}

.search {
    padding-top: 40px;
}

.content {
    padding-bottom: 10px;
}

.loading {
    padding-top: 50px;
}

.varietal-cover .title{
    height: 80vh;
    text-transform:capitalize;
    color: #224229;
    padding: 33vh;
}   

.varietal-cover h1{
    color:white !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./../images/kaufmann-mercantile-a7Woj8W6J0s-unsplash.jpg') no-repeat center;
    background-position:center;
    margin-bottom: 0px;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 45vh;
}

.image-credit {
    font-size: 10px;
    padding: 8px 8px;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.image-credit a{
    text-decoration: none;
    color: white !important;
}

.homepage-contents .image-credit{
    position: fixed;
    bottom: 0px !important;
    left:0px !important
}